<html>
  <head>
    <title>
      Your favorite gossip
    </title>
  </head>

  <body>
    <h1>
      Gossip <%= id%>
    </h1>
    <p>
      it says<br>
      "<%= gossip[1]%>"<br>
      from <strong><%= gossip[0]%></strong>
    </p>
    <p>
      <ul>
        <li>back to <a href = "./all" >list</a></li>
        <li>back to <a href = "../"  >homepage</a></li>
        <!--in relative address : one dot is going up one slash-->
        <!--and so on and so on-->
      </ul>
    </p>
    <p>
      <a href = "/gossips/<%= id%>/edit">click to edit</a>
    </p>
  </body>
</html>
