<html>
  <head>
    <title>Burning-hot gossips</title>
  </head>
  <body>
    <h1>Here is a list of all gossips:
    </h1>
    <!--<% %> to write ruby code-->
    <!--<%=%> to print value like #{}--> 
    <% gossips.each_with_index do |gossip, index| %>
      <p>
        <strong><%= gossip.author %></strong> says<br/>
        <a href = /gossips/<%= index %>>"<%= gossip.content %>"</a>
      </p>
    <% end %>
      <p>
        back to <a href = "../">home</a>
      </p>

  </body>
</html>
