<html>
  <head>
    <title>Burning-hot gossips</title>
  </head>
  <body>
    <h1>Here is a list of all gossips:
    </h1>
    <% gossips.each_with_index do |gossip, index| %>
      <p>
        <%= gossip.author %><br/>
        <a href = /gossip/<%= index %>><%= gossip.content %></a>
        </p>
    <% end %>
  </body>
</html>
