<html>
  <head>
    <title>
      Your favorite gossip
    </title>
  </head>
  <body>
    <h1>
      Gossip <%= id %>
    </h1>
    <p>
      It says<br>
      "<%= gossip[1] %>" <br>
      from <%= gossip[0] %>
    </p>
    <p>click <a href = 'index'>here</a> to go back to home page
    </p>
  </body>
</html>
