<html>
  <head>
    <title>
      Your favorite gossip
    </title>
  </head>
  <body>
    <h1>
      Gossip <%= id%>
    </h1>
    <p>
      it says<br>
      "<%= gossip[1]%>"<br>
      from <%= gossip[0]%>

    </p>
  </body>
</html>
