<html>
  <head>
    <title>
      The Gossip Project
    </title>
  </head>

  <body>
    <h1>
      Our super GOSSIP SITE! (with love from /views)
    </h1>
    <p>
      This is for shotgun test.<br>speaking speaking speaking
    </p>
  </body>
</html>
