<html>
  <head>
    <title>
      The Gossip Project
    </title>
  </head>

  <body>
    <h1>
      Our super GOSSIP SITE!)
    </h1>
    <p>
      <ul>
        <li>Click <a href ="/gossips/all" >here</a> to display ALL gossips</li>
        <li>Or click <a href = "/gossips/new">here</a> to create your own!</li>
      </ul>
    </p>
  </body>
</html>
