<html>
  <head>
    <title>
      The Gossip Project
    </title>
  </head>

  <body>
    <h1>
      Our super GOSSIP SITE! (with love from /views)
    </h1>
    <p>
      Gossip list will be available soon soon soon!<br>Meanwhile, why not <a href = " /gossips/new">create one of your own</a>?
    </p>
    <% gossips.each_with_index do |gossip, index| %>
            <p>
              <%= gossip.author %><br/>
              <a href = "/gossip/<%= index%>" ><%= gossip.content %></a>
            </p>
          <% end %>

  </body>
</html>
