<html>
  <head>
    <title>New gossip</title>
  </head>
  <body>
    <h1>Create your own gossip here!</h1>
    <p>Shoot your insider information with this formula:</p>
    <form action='/gossips/new/' method='POST'>
      Your Alias: <input type='text' name='gossip_author'/><br/>
      Your insight: <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
